﻿@charset "UTF-8";
/* line 1, scss/styles.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

/* line 9, scss/styles.scss */
blockquote, q {
    quotes: none;
}

    /* line 12, scss/styles.scss */
    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

/* line 16, scss/styles.scss */
ins {
    text-decoration: none;
}

/* line 19, scss/styles.scss */
del {
    text-decoration: line-through;
}

/* line 22, scss/styles.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 26, scss/styles.scss */
strong {
    font-weight: bold;
}

/* line 29, scss/styles.scss */
* {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

/* line 35, scss/styles.scss */
textarea, input, button {
    outline: none;
}

/* line 38, scss/styles.scss */
textarea {
    resize: none;
}

    /* line 41, scss/styles.scss */
    input:focus, textarea:focus {
        outline: medium none;
    }

    /* line 44, scss/styles.scss */
    input:active, textarea:active {
        outline: medium none;
    }

/* line 47, scss/styles.scss */
ul {
    list-style: none;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/Roboto-Regular.eot");
    src: local("тШ║"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url("../fonts/Roboto-Black.eot");
    src: local("тШ║"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url("../fonts/Roboto-BlackItalic.eot");
    src: local("тШ║"), url("../fonts/Roboto-BlackItalic.woff") format("woff"), url("../fonts/Roboto-BlackItalic.ttf") format("truetype"), url("../fonts/Roboto-BlackItalic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/Roboto-Bold.eot");
    src: local("тШ║"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url("../fonts/Roboto-BoldItalic.eot");
    src: local("тШ║"), url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic.ttf") format("truetype"), url("../fonts/Roboto-BoldItalic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url("../fonts/Roboto-Italic.eot");
    src: local("тШ║"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.ttf") format("truetype"), url("../fonts/Roboto-Italic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("../fonts/Roboto-Light.eot");
    src: local("тШ║"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url("../fonts/Roboto-LightItalic.eot");
    src: local("тШ║"), url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.ttf") format("truetype"), url("../fonts/Roboto-LightItalic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("fonts/Roboto-Medium.eot");
    src: local("тШ║"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url("../fonts/Roboto-MediumItalic.eot");
    src: local("тШ║"), url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.ttf") format("truetype"), url("../fonts/Roboto-MediumItalic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url("../fonts/Roboto-Thin.eot");
    src: local("тШ║"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto-Thin.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url("../fonts/Roboto-ThinItalic.eot");
    src: local("тШ║"), url("../fonts/Roboto-ThinItalic.woff") format("woff"), url("../fonts/Roboto-ThinItalic.ttf") format("truetype"), url("../fonts/Roboto-ThinItalic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* line 153, scss/styles.scss */
body {
    width: 100%;
    font-family: "HeliosCondBold";
}

/* line 158, scss/styles.scss */
.center {
    max-width: 1033px;
    margin: 0 auto;
}

/* line 163, scss/styles.scss */
.btn-blue {
    display: block;
    /*  width: 255px; */
    height: 55px;
    margin: 0 auto;
    overflow: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#385289+0,365087+20,324d84+40,2e4980+60,2c477e+80,2b457c+100 */
    background: #159be9;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#385289', endColorstr='#2b457c',GradientType=0 );
    /* IE6-9 */
    font-family: 'Roboto-Regular';
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding-top: 13px;
    text-decoration: none;
    border-radius: 4px;
}
    /* line 185, scss/styles.scss */
    .btn-blue:hover {
        text-decoration: underline;
        cursor: pointer;
    }

/* line 193, scss/styles.scss */
.header .header-top #hamb-btn {
    display: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: 1px solid #000000;
    border-radius: 2px;
    cursor: pointer;
}

/* line 203, scss/styles.scss */
p {
    font-family: 'Roboto-Light';
    font-size: 16px;
    color: #3e434a;
}

/* line 209, scss/styles.scss */
h1 {
    font-family: 'Roboto-Regular';
    font-size: 67px;
    color: #ffffff;
}

/* line 215, scss/styles.scss */
h2 {
    font-family: 'Roboto-Light';
    font-size: 40px;
    color: #3e434a;
    font-weight: 300;
}

/* line 222, scss/styles.scss */
h3 {
    font-family: 'Roboto-Light';
    font-size: 20px;
    color: #3e434a;
    font-weight: 300;
}
/* line 372, scss/styles.scss */
.info {
    height: 600px;
    background-image: url("images/lifttopbg.png");
    background-size: cover;
}
    /* line 375, scss/styles.scss */
    .info .info-wrap {
        padding: 46px 0 0 412px;
    }
        /* line 377, scss/styles.scss */
        .info .info-wrap h1 {
            margin-bottom: 10px;
            text-transform: uppercase;
            letter-spacing: -1px;
            font-size: 27px;
        }
        /* line 382, scss/styles.scss */
        .info .info-wrap .info-slogan {
            font-family: 'Roboto-Light';
            font-size: 30px;
            color: #ffffff;
            margin-bottom: 43px;
        }
            /* line 387, scss/styles.scss */
            .info .info-wrap .info-slogan span {
                font-family: 'Roboto-Light';
                font-size: 30px;
                color: #ffffff;
                display: block;
                margin-bottom: 2px;
            }
        /* line 395, scss/styles.scss */
        .info .info-wrap .info-text {
            color: #ffffff;
            margin-bottom: 47px;
            line-height: 24px;
        }

/* line 405, scss/styles.scss */
.about .about-wrap {
    padding: 80px 0 31px 410px;
    height: 450px;
    position: relative;
    overflow: hidden;
}

    .about .about-wrap:before {
        content: "";
        position: absolute;
        width: 454px;
        height: 598px;
        top: 52px;
        left: -93px;
    }

    .about .about-wrap img {
        position: absolute;
        width: 250px;
        top: 80px;
        left: 0px;
    }

    /* line 418, scss/styles.scss */
    .about .about-wrap h2 {
        margin-bottom: 24px;
    }
    /* line 421, scss/styles.scss */
    .about .about-wrap p {
        margin-bottom: 23px;
        line-height: 25px;
    }
    /* line 425, scss/styles.scss */
    .about .about-wrap a {
        display: block;
        font-family: 'Roboto-Light';
        font-size: 16px;
        color: #2c7cc5;
    }
    /* line 455, scss/styles.scss */
    .about .about-wrap .about-bottom-link-1 {
        display: block;
        float: left;
        font-family: 'Roboto-Light';
        font-size: 16px;
        color: #2c7cc5;
        margin-left: 78px;
        position: relative;
        padding-bottom: 5px;
    }
/* line 506, scss/styles.scss */
.catalog {
    background-image: url("images/catalog-bg.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    padding: 47px 0 52px;
    position: relative;
    overflow: hidden;
}

    .catalog .lift {
        background-image: url("images/catalog-img.png");
        background-position: center, center;
        background-repeat: no-repeat, no-repeat;
        padding: 47px 0 52px;
        position: relative;
        overflow: hidden;
    }
    /* line 513, scss/styles.scss */
    .catalog:before {
        content: "";
        position: absolute;
        background: url("../img/triangle-border.png") repeat-x;
        width: 100%;
        height: 8px;
        bottom: 0;
        left: 0;
    }
    /* line 522, scss/styles.scss */
    .catalog h2 {
        color: #3e434a;
        margin-bottom: 40px;
        text-align: center;
    }
    /* line 527, scss/styles.scss */
    .catalog .catalog-list {
        float: left;
        width: 100%;
    }
        /* line 530, scss/styles.scss */
        .catalog .catalog-list li {
            display: inline-block;
            width: 50%;
            font-size: 40px;
            color: #3e434a;
            margin-bottom: 24px;
            float: left;
        }
            /* line 536, scss/styles.scss */
            .catalog .catalog-list li a {
                display: block;
                font-family: 'Roboto-Light';
                font-size: 20px;
                color: #3e434a;
                margin-bottom: 5px;
                text-align: right;
                text-decoration: none;
            }
                /* line 544, scss/styles.scss */
                .catalog .catalog-list li a:hover {
                    text-decoration: underline;
                }
            /* line 548, scss/styles.scss */
            .catalog .catalog-list li span {
                display: block;
                font-family: 'Roboto-Light';
                font-size: 15px;
                color: #3e434a;
                text-align: right;
            }
    /* line 557, scss/styles.scss */
    .catalog li:nth-child(odd) {
        padding-right: 220px;
    }
        /* line 559, scss/styles.scss */
        .catalog li:nth-child(odd) a {
            text-align: right;
        }
        /* line 562, scss/styles.scss */
        .catalog li:nth-child(odd) span {
            text-align: right;
        }
    /* line 566, scss/styles.scss */
    .catalog li:nth-child(even) {
        padding-left: 220px;
    }
        /* line 568, scss/styles.scss */
        .catalog li:nth-child(even) a {
            text-align: left;
        }
        /* line 571, scss/styles.scss */
        .catalog li:nth-child(even) span {
            text-align: left;
        }

/* line 577, scss/styles.scss */
.services {
    padding-top: 47px;
    overflow: hidden;
}
    /* line 581, scss/styles.scss */
    .services h2 {
        margin-bottom: 7px;
        text-align: center;
        color: #3e434a;
    }
    /* line 585, scss/styles.scss */
    .services .services-slogan {
        font-family: 'Roboto-Light';
        font-size: 20px;
        color: #3e434a;
        margin-bottom: 63px;
        text-align: center;
    }
    /* line 592, scss/styles.scss */
    .services .services-list {
        width: 100%;
        margin: 0 auto;
        max-width: 1030px;
    }
        /* line 596, scss/styles.scss */
        .services .services-list li {
            display: inline-block;
            margin: 0 0px 78px 0;
            position: relative;
            padding-left: 1px;
            vertical-align: top;
            float: left;
            width: 50%;
        }
            /* line 602, scss/styles.scss */
            .services .services-list li .img-wrap {
                float: left;
                margin: 0 20px 0 0;
                padding-top: 3px;
            }
            /* line 607, scss/styles.scss */
            .services .services-list li .li-content-wrap {
                max-width: 383px;
                float: left;
            }
                /* line 610, scss/styles.scss */
                .services .services-list li .li-content-wrap h3 {
                    font-family: 'Roboto-Medium';
                    color: #3e434a;
                    margin-bottom: 9px;
                }
                /* line 614, scss/styles.scss */
                .services .services-list li .li-content-wrap p {
                    font-size: 16px;
                    color: #636970;
                    line-height: 24px;
                }


            /* line 622, scss/styles.scss */
            .services .services-list li:nth-child(2n) .img-wrap {
                margin: 0 26px 0 0;
            }
        /* line 626, scss/styles.scss */
        .services .services-list .services-link {
            width: 310px;
            padding: 6px 0 0 133px;
            margin-bottom: 67px;
        }
            /* line 630, scss/styles.scss */
            .services .services-list .services-link span {
                max-width: 308px;
                display: block;
                font-family: 'Roboto-LightItalic';
                font-size: 18px;
                color: #375188;
                margin-top: 20px;
                line-height: 25px;
            }
/* line 709, scss/styles.scss */
.form {
    height: 890px;
    background: url("images/formbg.jpg") top center no-repeat;
    background-size: cover;
    padding-top: 37px;
    position: relative;
}
    /* line 714, scss/styles.scss */
    .form:before {
        content: "";
        position: absolute;
        background: url("images/triangle.png") repeat-x;
        width: 100%;
        height: 15px;
        bottom: 0;
        left: 0;
    }
    /* line 723, scss/styles.scss */
    .form h2 {
        color: #ffffff;
        margin-bottom: 30px;
        text-align: center;
    }
    /* line 728, scss/styles.scss */
    .form form {
        max-width: 478px;
        padding: 43px 50px 41px;
        border-radius: 7px;
        margin: 0 auto;
        background-color: #ffffff;
    }
        /* line 734, scss/styles.scss */
        .form form input {
            width: 100%;
            height: 45px;
            border: 1px solid #bdbdbd;
            padding: 0 9px 0;
            margin-bottom: 15px;
            font-family: 'Roboto-Light';
            font-size: 18px;
            color: #3e434a;
        }
        /* line 744, scss/styles.scss */
        .form form textarea {
            width: 100%;
            height: 120px;
            border: 1px solid #bdbdbd;
            padding: 7px 9px 0;
            font-family: 'Roboto-Light';
            font-size: 18px;
            color: #3e434a;
            margin-bottom: 32px;
        }
        /* line 754, scss/styles.scss */
        .form form button {
            border: none;
            margin: 0 auto;
            padding-top: 0;
        }

.watchphone {
    padding: 56px 0 77px;
}

    .watchphone h2 {
        text-align: center;
        margin-bottom: 39px;
    }

    .watchphone h3 {
        text-align: center;
        margin-bottom: 6px;
        font-size: 25px;
    }
/* line 762, scss/styles.scss */
.lastorders {
    padding: 28px 0 77px;
    background-size: cover;
    overflow: hidden;
}
    /* line 764, scss/styles.scss */
    .lastorders h2 {
        /*text-align: center;*/
        margin-left: 125px;
        margin-bottom: 39px;
    }

.lastOrderUnit {
    text-align: justify;
    float: left;
    width: 250px;
    margin-right: 92px;
}

.unitDescription {
    font-size: 14px;
}

.lastOrderUnit span {
    font-size: 17px;
    font-weight: 600;
    margin-left: 20px;
}
/* line 838, scss/styles.scss */
.footer {
    padding-bottom: 22px;
    background-color: #3e434a;
    overflow: hidden;
}
    /* line 842, scss/styles.scss */
    .footer span {
        font-family: "Roboto-Light";
        font-size: 15px;
        color: #ffffff;
        display: block;
    }
    /* line 848, scss/styles.scss */
    .footer .footer-left {
        float: left;
        margin: 0 0 0 0;
        margin: 30px 0 0 7px;
    }
        /* line 852, scss/styles.scss */
        .footer .footer-left span {
            margin-bottom: 25px;
        }
        /* line 855, scss/styles.scss */
        .footer .footer-left a {
            font-family: "Roboto-Light";
            font-size: 15px;
            color: #5595d1;
            display: block;
            text-decoration: none;
        }
            /* line 861, scss/styles.scss */
            .footer .footer-left a:hover {
                color: #e76a26;
            }
    /* line 866, scss/styles.scss */
    .footer .footer-right {
        float: right;
        margin: 8px 0 0px 93px;
    }
        /* line 869, scss/styles.scss */
        .footer .footer-right .footer-phone {
            font-family: "Roboto-Light";
            font-size: 25px;
            color: #ffffff;
            display: block;
        }
        /* line 875, scss/styles.scss */
        .footer .footer-right span {
            margin: 17px 0 0 1px;
        }
/* line 958, scss/styles.scss */
.main-content {
    padding-top: 13px;
}
    /* line 960, scss/styles.scss */
    .main-content .breadcrumbs {
        margin: 15px;
        letter-spacing: -1px;
    }
        /* line 963, scss/styles.scss */
        .main-content .breadcrumbs a {
            font-family: 'Roboto-Light';
            font-size: 13px;
            color: #2c7cc5;
            position: relative;
            padding-right: 25px;
            margin-right: 5px;
            text-decoration: none;
        }
            /* line 971, scss/styles.scss */
            .main-content .breadcrumbs a:hover {
                color: #e76a26;
            }
            /* line 974, scss/styles.scss */
            .main-content .breadcrumbs a:after {
                content: "";
                position: absolute;
                background: url("../img/bread-arrow.png");
                width: 14px;
                height: 5px;
                top: 8px;
                right: 0;
            }
        /* line 984, scss/styles.scss */
        .main-content .breadcrumbs .breadcrumbs-active {
            font-family: 'Roboto-Light';
            font-size: 13px;
            color: #737373;
            position: relative;
            padding-right: 0;
            margin-right: 0;
            text-decoration: none;
        }
            /* line 992, scss/styles.scss */
            .main-content .breadcrumbs .breadcrumbs-active:hover {
                text-decoration: none;
            }
            /* line 995, scss/styles.scss */
            .main-content .breadcrumbs .breadcrumbs-active:after {
                display: none;
            }

/* line 1002, scss/styles.scss */
.pdf-link a {
    font-family: 'Roboto-Light';
    font-size: 16px;
    color: #2c7cc5;
    text-decoration: none;
    padding-left: 87px;
    position: relative;
}
    /* line 1009, scss/styles.scss */
    .pdf-link a:before {
        content: "";
        position: absolute;
        background: url("../img/pdf-icon.png");
        width: 60px;
        height: 60px;
        top: -18px;
        left: 12px;
    }
    /* line 1018, scss/styles.scss */
    .pdf-link a:hover {
        color: #e76a26;
    }
        /* line 1020, scss/styles.scss */
        .pdf-link a:hover:before {
            background: url("../img/pdf-hover-icon.png");
        }

@media screen and (max-width: 1040px) {
    /* line 14, scss/media.scss */
    .catalog {
        background-image: url(images/catalog-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

        /* line 20, scss/media.scss */
        .catalog li:nth-child(odd) {
            padding-right: 5%;
        }

        /* line 23, scss/media.scss */
        .catalog li:nth-child(even) {
            padding-left: 5%;
        }

    /* line 26, scss/media.scss */
    .photos .bx-wrapper .bx-controls .bx-prev {
        left: 9px;
    }

    /* line 29, scss/media.scss */
    .photos .bx-wrapper .bx-controls .bx-next {
        right: 0;
    }

    /* line 32, scss/media.scss */
    .footer .footer-right {
        margin: 8px 0 0px 15px;
    }
}

@media screen and (max-width: 920px) {
    /* line 166, scss/media.scss */
    .header .header-top .header-top-right .lang-list {
        margin: 18px 5px 0 0px;
    }

    /* line 172, scss/media.scss */
    .info .info-wrap {
        padding: 46px 0 0 30px;
    }

        /* line 175, scss/media.scss */
        .info .info-wrap h1 {
            text-align: center;
        }

        /* line 178, scss/media.scss */
        .info .info-wrap .info-slogan {
            text-align: center;
        }

        /* line 181, scss/media.scss */
        .info .info-wrap .info-text {
            text-align: center;
        }

        /* line 184, scss/media.scss */
        .info .info-wrap a {
            margin: 0 auto;
        }

    /* line 187, scss/media.scss */
    .about {
        overflow: hidden;
    }

        /* line 190, scss/media.scss */
        .about .about-wrap {
            padding: 49px 0 31px 30px;
            position: relative;
            overflow: hidden;
        }

            /* line 195, scss/media.scss */
            .about .about-wrap:before {
                content: none;
            }

            /* line 198, scss/media.scss */
            .about .about-wrap h2 {
                text-align: center;
            }

    /* line 201, scss/media.scss */
    .footer {
        padding: 20px 0;
        text-align: center;
    }

        /* line 205, scss/media.scss */
        .footer .footer-left {
            float: none;
            margin: 0 0 0 0;
        }

            /* line 209, scss/media.scss */
            .footer .footer-left span {
                margin-bottom: 10px;
            }

        /* line 212, scss/media.scss */
        .footer .footer-right {
            float: none;
            margin: 0 0 20px 0;
        }

            /* line 216, scss/media.scss */
            .footer .footer-right span {
                margin: 0 0 10px 0;
            }
}

@media screen and (max-width: 770px) {
    /* line 229, scss/media.scss */
    .header .header-top {
        position: relative;
        padding-bottom: 15px;
    }

        /* line 233, scss/media.scss */
        .header .header-top .header-top-left {
            float: none;
            margin-top: 20px;
            overflow: hidden;
            margin: 0;
            max-width: 400px;
        }

        /* line 240, scss/media.scss */
        .header .header-top .header-top-right {
            float: none;
            overflow: hidden;
            margin: 0 auto;
            max-width: 320px;
        }

    /* line 246, scss/media.scss */
    .header .header-nav {
        display: none;
    }

    /* line 249, scss/media.scss */
    .header .header-top #hamb-btn {
        display: block;
    }

    /* line 252, scss/media.scss */
    .header .header-nav .header-nav-list {
        padding-left: 0;
        padding-bottom: 20px;
        display: block;
        width: 100%;
    }

        /* line 258, scss/media.scss */
        .header .header-nav .header-nav-list li {
            padding: 16px 0 18px;
            display: block;
            height: 25px;
            text-align: center;
        }

            /* line 264, scss/media.scss */
            .header .header-nav .header-nav-list li:hover {
                background-color: #2b467d;
            }
                /* line 266, scss/media.scss */
                .header .header-nav .header-nav-list li:hover a {
                    color: #febf14;
                    border-left: none;
                    border-right: none;
                }

    /* line 272, scss/media.scss */
    .header .header-top .header-top-right .phone-address-wrap {
        float: none;
        width: 320px;
        margin-top: 20px;
    }

        /* line 277, scss/media.scss */
        .header .header-top .header-top-right .phone-address-wrap .phone {
            float: none;
            margin: 0 auto;
            max-width: 180px;
        }

        /* line 282, scss/media.scss */
        .header .header-top .header-top-right .phone-address-wrap .address {
            float: none;
            margin: 0 auto;
            max-width: 320px;
        }

    /* line 287, scss/media.scss */
    .header .header-top .header-top-right .lang-list {
        margin: 10px 5px 0 0px;
        position: absolute;
        top: 0;
        right: 0;
    }

    /* line 293, scss/media.scss */
    .header .header-nav .header-nav-list .nav-active {
        background-color: #2b467d;
    }
        /* line 295, scss/media.scss */
        .header .header-nav .header-nav-list .nav-active a {
            color: #febf14;
        }

    /* line 299, scss/media.scss */
    .catalog .catalog-list-right {
        margin: 0 0 0 0;
    }

    .services {
        padding: 40px 0;
    }

        /* line 311, scss/media.scss */
        .services .services-slogan {
            margin-bottom: 30px;
        }

        /* line 314, scss/media.scss */
        .services .services-list {
            padding-left: 0;
        }

            /* line 317, scss/media.scss */
            .services .services-list li {
                display: block;
                margin: 0 auto 30px;
                max-width: 540px;
                overflow: hidden;
            }

            /* line 323, scss/media.scss */
            .services .services-list .services-link {
                padding: 6px 0 0 0;
                margin-bottom: 0;
            }

                /* line 327, scss/media.scss */
                .services .services-list .services-link a {
                    margin: 0 auto;
                }

                /* line 330, scss/media.scss */
                .services .services-list .services-link span {
                    text-align: center;
                }

    /* line 333, scss/media.scss */
    .form:before {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    /* line 350, scss/media.scss */
    .about .about-wrap h2 {
        margin-bottom: 0;
    }

    /* line 353, scss/media.scss */
    .about .about-wrap a {
        margin-bottom: 15px;
    }

    /* line 356, scss/media.scss */
    .about .about-wrap .awards {
        margin-bottom: 35px;
        padding: 0 0 10px 144px;
    }

    /* line 360, scss/media.scss */
    .about .about-wrap .about-bottom-link-1 {
        float: none;
        margin: 0 auto 43px;
        padding-bottom: 5px;
        max-width: 150px;
    }
        /* line 365, scss/media.scss */
        .about .about-wrap .about-bottom-link-1:hover {
            padding-bottom: 4px;
        }

    /* line 369, scss/media.scss */
    .about .about-wrap .about-bottom-link-2 {
        float: none;
        margin: 0 auto;
        padding-bottom: 5px;
        max-width: 210px;
        margin-bottom: 20px;
    }
        /* line 375, scss/media.scss */
        .about .about-wrap .about-bottom-link-2:hover {
            padding-bottom: 4px;
        }
}

@media screen and (max-width: 560px) {
    /* line 444, scss/media.scss */
    .info {
        height: 100%;
        background-image: url("images/lifttopbg.png");
    }

        /* line 447, scss/media.scss */
        .info .info-wrap {
            padding: 20px 5px 20px 5px;
        }

            /* line 450, scss/media.scss */
            .info .info-wrap h1 {
                font-size: 30px;
            }

            /* line 453, scss/media.scss */
            .info .info-wrap .info-slogan {
                font-size: 20px;
                margin-bottom: 10px;
            }
                /* line 456, scss/media.scss */
                .info .info-wrap .info-slogan span {
                    font-size: 20px;
                }

            /* line 460, scss/media.scss */
            .info .info-wrap .info-text {
                margin-bottom: 20px;
            }

    /* line 463, scss/media.scss */
    .about .about-wrap {
        padding: 20px 5px 20px 5px;
        position: relative;
        overflow: hidden;
    }

        /* line 468, scss/media.scss */
        .about .about-wrap .awards:before {
            content: none;
        }

        /* line 471, scss/media.scss */
        .about .about-wrap .awards {
            margin-bottom: 35px;
            padding: 0 0 10px 0;
        }

    /* line 475, scss/media.scss */
    .services {
        padding: 20px 5px;
    }

        /* line 478, scss/media.scss */
        .services .services-list li {
            text-align: center;
        }

            /* line 482, scss/media.scss */
            .services .services-list li:nth-child(2n) .img-wrap {
                margin: 0;
            }

            /* line 486, scss/media.scss */
            .services .services-list li .img-wrap {
                float: none;
                margin: 0;
                padding-top: 3px;
            }

            /* line 491, scss/media.scss */
            .services .services-list li .li-content-wrap {
                float: none;
                margin: 0 auto;
            }

    /* line 495, scss/media.scss */
    .news {
        padding: 20px 5px 20px;
    }

    /* line 498, scss/media.scss */
    .form {
        padding-top: 20px;
    }

        /* line 501, scss/media.scss */
        .form form {
            max-width: 300px;
            padding: 20px 10px 20px;
        }
}

@media screen and (max-width: 450px) {
    /* line 529, scss/media.scss */
    .about .about-wrap .about-bottom-link-1 {
        margin: 0 0 43px 90px;
        max-width: 150px;
    }

    /* line 533, scss/media.scss */
    .about .about-wrap .about-bottom-link-2 {
        margin: 0 0 10px 90px;
        max-width: 150px;
    }

    /* line 537, scss/media.scss */
    .main-content .breadcrumbs {
        display: none;
    }
}

.item_err {
    margin-bottom: 10px;
    font-weight: bold;
}

    .item_err .rr2 {
        color: red;
    }

.err_cont .suc {
    color: #2c7cc5;
    font-family: "Roboto-Light";
    font-size: 16px;
    margin-bottom: 10px;
}

input.err {
    background-color: #FFF2F4;
    color: #A60916;
    border-color: #ECC7C7;
}

    input.err::-webkit-input-placeholder {
        color: #A60916;
    }

    input.err:-moz-placeholder { /* Firefox 18- */
        color: #A60916;
    }

    input.err::-moz-placeholder { /* Firefox 19+ */
        color: #A60916;
    }

    input.err:-ms-input-placeholder {
        color: #A60916;
    }
