﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Чиним лифт</title>
    <meta name="keywords" content="Главная">
    <meta name="description" content="&lt;span&gt;Лидирующая компания &lt;/span&gt;на рынке лифтового хозяйства">
    <link href="~/Content/styles.css" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <script async src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <section class="info">
        <div class="center">
            <div class="info-wrap">
                <h1 style="font-size: 50px;">Чиним лифт</h1>
                <p class="info-slogan"><span>Лидирующая компания </span>на рынке лифтового хозяйства</p>
                <p class="info-text" style="font-size: 20px;">КП «Чиним лифт» ООО – лидирующая компания на рынке лифтового хозяйства г. Харькова, Харьковской области и одно из ведущих в Украине.</p>
                <br>
                <a class="btn-blue" href="#jackor">Оставить заявку</a>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="center">
            <div class="about-wrap">
                <img src="~/Content/images/about.png">
                <h2>О компании</h2>
                <p>КП «Чиним лифт» ООО – лидирующая компания на рынке лифтового хозяйства г. Харькова, Харьковской области и одно из ведущих в Украине. Предприятие постоянно принимает активное участие в международных выставках и конференциях, тесно сотрудничает с «ОТИС»; «LM» (Германия); Евроформат (Украина); «Монитор-Италия»; «Secor» (Италия); Могилёвлифтмаш (Белоруссия); «Щербинский лифтостроительный завод» (Россия); «Родос» (Украина), что позволяет внедрять новейшие технологии и мировой опыт лифтовых организаций.</p>
            </div>
        </div>
    </section>
    <section class="services" style="background: #efefef">
        <div class="center-services">
            <h2>Наши услуги</h2>
            <p class="services-slogan">Услуги предоставляемые нашей компанией</p>
            <ul class="services-list">
                <li>
                    <div class="img-wrap">
                        <img src="~/Content/images/reload.png" alt="pic">
                    </div>
                    <div class="li-content-wrap">
                        <h3>Монтаж и демонтаж лифтов</h3>
                        <p>В настоящее время в практике монтажа лифтовых установок используются три основных метода: поэлементный, укрупненными блоками и тюбинговый.</p>
                    </div>

                </li>
                <li>
                    <div class="img-wrap">
                        <img src="~/Content/images/truing.png" alt="pic">
                    </div>
                    <div class="li-content-wrap">
                        <h3>Освидетельствование лифтов</h3>
                        <p>Проведение работ для подтверждения работоспособности систем</p>
                    </div>

                </li>
                <li>
                    <div class="img-wrap">
                        <img src="~/Content/images/tool.png" alt="pic">
                    </div>
                    <div class="li-content-wrap">
                        <h3>Текущий и капитальный ремонт лифтов</h3>
                        <p>Текущий и капитальный ремонт лифтов</p>
                    </div>

                </li>
                <li>
                    <div class="img-wrap">
                        <img src="~/Content/images/pult.png" alt="pic">
                    </div>
                    <div class="li-content-wrap">
                        <h3>Техническое обслуживание диспетчерских систем</h3>
                        <p>Техническое обслуживание диспетчерских систем</p>
                    </div>

                </li>
                <li>
                    <div class="img-wrap">
                        <img src="~/Content/images/mechanics.png" alt="pic">
                    </div>
                    <div class="li-content-wrap">
                        <h3>Техническое обслуживание лифтов</h3>
                        <p>Специализированная организация в своей работе руководствуется: технической документацией заводов-изготовителей, ПУБЭЛ, ПУЭ, ПБЭЭП, ПТЭЭП, технологическими процессами и инструкциями, а также Положением (КД 36.1-001-2000).</p>
                    </div>

                </li>
                <li>
                    <div class="img-wrap">
                        <img src="~/Content/images/expert.png" alt="pic">
                    </div>
                    <div class="li-content-wrap">
                        <h3>Экспертное обследование</h3>
                        <p>Экспертное обследование (техническое диагностирование) проводится с целью определения технического состояния оборудования, определения возможности, целесообразности, условий и срока его надежной эксплуатации</p>
                    </div>

                </li>
                <li>
                    <div class="img-wrap">
                        <img src="~/Content/images/electro.png" alt="pic">
                    </div>
                    <div class="li-content-wrap">
                        <h3>Электротехническая лаборатория</h3>
                        <p>Электротехническая лаборатория</p>
                    </div>

                </li>
                <li class="services-link">
                    <a href="#jackor" class="btn-blue">Заявка на услугу</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="watchphone">
        <div class="center">
            <h2>Звоните нам по телефону</h2>
            <h3>+38 (095) 666-00-00</h3>
            <h3>+38 (095) 777-00-00</h3>
            <h3>+38 (095) 101-00-00</h3>
        </div>
    </section>
    <section class="form" id="jackor">
        <div class="center">
            <h2>Оставить заявку на заказ</h2>
            @Scripts.Render("~/Scripts/jquery-1.10.2.js")
            
            <script async>
                var activeEntAlert = false;
                var activeHouAlert = false;

                function addOrder() {
                    var aalert = document.getElementById('warningFormMessage');
                    aalert.style.visibility = 'hidden';

                    var district = document.orderForm.District.value
                    var street = document.orderForm.Street.value;
                    var houseNumber = document.orderForm.HouseNumber.value;
                    var enteranceNumber = document.orderForm.EnteranceNumber.value;
                    var description = document.orderForm.Description.value;

                    if (!activeEntAlert && !activeHouAlert) {
                        if (district != '' && street != '' && houseNumber != '' && enteranceNumber != '' && description != '') {
                            $.ajax({
                                url: '/Home/RegisterOrder',
                                data: JSON.stringify({
                                    District: district,
                                    Street: street,
                                    HouseNumber: houseNumber,
                                    EnteranceNumber: enteranceNumber,
                                    Description: description
                                }),
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                success: function () { alert('Спасибо за заявку!'); location.reload(true); },
                                error: function () { alert('Спасибо за заявку!'); location.reload(true); }
                            })
                            /*document.getElementById('orderForm').submit();*/
                        }
                        else {
                            aalert.style.visibility = 'visible';
                        }
                    }
                }

                function preventLit() {
                    var enteranceNumber = document.orderForm.EnteranceNumber.value;

                    var aalert = document.getElementById('warningEntMessage');
                    aalert.style.visibility = 'hidden';
                    activeEntAlert = false;

                    var numbered = +enteranceNumber;

                    if (!isNaN(numbered) && numbered != 0) { }
                    else if (enteranceNumber != '') {
                        aalert.style.visibility = 'visible';
                        activeEntAlert = true;
                    }
                }

                function testFirstLit() {
                    var houseNumber = document.orderForm.HouseNumber.value;

                    var aalert = document.getElementById('warningHouMessage');
                    aalert.style.visibility = 'hidden';
                    activeHouAlert = false;

                    var numbered = +houseNumber[0];

                    if (!isNaN(numbered) && numbered != 0) { }
                    else if (houseNumber != '') {
                        aalert.style.visibility = 'visible';
                        activeHouAlert = true;
                    }
                }

                function switchFormWarning() {
                    document.getElementById('warningFormMessage').style.visibility = 'hidden';
                }
            </script>
            <form name="orderForm" id="orderForm" action="RegisterOrder" method="post">
                <!--action="RegisterOrder" method="post"-->
                <input required type="text" onkeydown="switchFormWarning()" name="District" placeholder="Район">
                <input required type="text" onkeydown="switchFormWarning()" name="Street" placeholder="Улица">
                <input required type="text" onkeydown="switchFormWarning()" onkeyup="testFirstLit()" name="HouseNumber" placeholder="Номер дома">
                <input required type="text" onkeydown="switchFormWarning()" onkeyup="preventLit()" name="EnteranceNumber" placeholder="Подъезд">
                <textarea required placeholder="Описание проблемы" onkeydown="switchFormWarning()" name="Description"></textarea>
                <button class="btn-blue" type="button" onclick="addOrder()">Оставить заявку</button>
            </form>
        </div>
    </section>
    <div id="warningEntMessage" class="alert alert-danger" style="position: fixed; bottom: 0; left: 15px; visibility: hidden;">В номере подъезда не может содержаться букв и он не может быть равен 0!</div>
    <div id="warningHouMessage" class="alert alert-danger" style="position: fixed; bottom: 0; left: 15px; visibility: hidden;">Номер дома не может начинаться с буквы и не модет быть равен 0!</div>
    <div id="warningFormMessage" class="alert alert-danger" style="position: fixed; bottom: 0; left: 15px; visibility: hidden;">Все поля должны быть заполнены!</div>
    <section class="lastorders">
        <div class="center">
            <h2>Последние заявки:</h2>
            @model IEnumerable<FixTheElevator.Model.Order>
            @foreach (var order in Model)
            {
                <div class="lastOrderUnit">
                    <div class="unitDescription">@order.Description</div>
                    <br />
                    <hr />
                    <br />
                    <div class="unitDescription">Ул. @order.address.Street, д. @order.address.HouseNumber, пд. @order.address.EnteranceNumber .</div>
                </div>
            }
        </div>
    </section>
    <footer class="footer">
        <div class="center">
            <div class="footer-left">
                <span>© 2015-2018. КП «Чиним лифт»</span>
                <a href="https://tproger.ru">Политика конфиденциальности</a>
            </div>
            <div class="footer-right">
                <span class="footer-phone">+38 (095) 666-00-00</span>
                <span>Адрес: 61070, Украина, г. Харьков, ул. Пушкина, д. Колотушкина</span>
            </div>
        </div>
    </footer>
</body>
</html>